@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.title {
  display: flex;
  align-items: center;
  column-gap: utils.spacing(1);
  margin: 0 auto;
  padding-bottom: utils.spacing(1);
}

.dialogOverlay {
  z-index: calc(#{variables.$level-dialog-2} - 1);
}

.dialogContent {
  padding: utils.spacing(3, 3);
  z-index: variables.$level-dialog-2;
  max-width: 540px;
  width: 100%;

  @include mixins.phone {
    min-height: 100%;
    border-radius: 0;
  }
}

.btnContainer {
  display: flex;
  column-gap: 8px;
  gap: 20px;
  margin-left: auto;
  margin-top: auto;
}
