@use '@/styles/variables.module';
@use '@/styles/utils';

@use '@/styles/mixins';

:root {
  --fc-button-active-bg-color: #114db6 !important;
  --fc-event-border-color: transparent !important;
}

.fc {
  .fc-timegrid-slot {
    height: utils.spacing(6) !important;
  }
  .fc-datagrid-cell-frame {
    width: 50px !important;
  }
}

.fc colgroup > col {
  width: 80px !important;
}
