@use '@/styles/variables.module';
@use '@/styles/utils';

.circle {
  border-radius: 50%;
}

.rect {
  border-radius: 15%;
}

.userIcon {
  width: 60%;
  height: 60%;
  color: #fff;
}

.avatarContainer {
  position: relative;
  display: flex;
  border: 2px solid #fff;
  overflow: hidden;
  background-color: #d8e6fc;
  flex-shrink: 0;
  transition: variables.$transition-fast;

  &.loading {
    background-color: transparent !important;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: variables.$transition-fast;
    opacity: 0;
    z-index: 1;

    &.active {
      opacity: 1;
    }
  }
}

.fallbackContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: variables.$main-box-shadow;
}
