@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: variables.$border-radius-medium;
  box-shadow: variables.$main-box-shadow;
  padding: utils.spacing(4, 3);
  background-color: rgba(#fff, 0.8);
  backdrop-filter: saturate(180%) blur(20px);

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: utils.spacing(4);
  }

  @include mixins.tablet {
  }

  @include mixins.phone {
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: utils.spacing(2);
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: utils.spacing(1);
    margin: 0 auto;
    width: 100%;
    max-width: 200px;

    .link {
      justify-content: center;
      width: 100%;
      transition: all 0.2s ease 0s;

      &:hover {
        background-color: rgba(black, .05);
      }

      &.active {
        box-shadow: variables.$main-box-shadow;
        color: variables.$accent-color;
        background-color: #fff;
      }
    }
  }

  .policy {
    width: 100%;
    margin-top: auto;
    padding: utils.spacing(2, 0, 0);
    text-align: center;

    span {
      color: variables.$primary-color;
      cursor: pointer;
    }
  }
}

