@use '@/styles/variables.module';
@use '@/styles/utils';

.root {
  display: flex;
  align-items: center;
  column-gap: utils.spacing(1);

  .iconButton {
    border-radius: variables.$border-radius-medium;
    width: 38px;
    height: 38px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.trigger {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: variables.$border-radius-medium;
  padding: 1px utils.spacing(1);
  cursor: pointer;
  column-gap: utils.spacing(1);
  background-color: transparent;
  border: none;
  transition: variables.$transition-ultrafast;

  &:hover {
    background-color: rgba(variables.$primary-light-color, 0.5);
  }

  &.active {
    background-color: #fff;//rgba(variables.$primary-light-color, 0.4);
    box-shadow: variables.$main-box-shadow;
  }

  .avatar {
    background: variables.$primary-light-color;
  }

  svg {
    position: relative;
  }
}

.skeleton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 28px;
}
