@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  background-color: white;
  border-radius: variables.$border-radius-medium;
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: utils.spacing(2, 3);
  column-gap: utils.spacing(2);
  align-items: center;
  width: 350px;

  &.info {
    background-color: variables.$primary-color;
  }

  &.success {
    background-color: variables.$success-color;
  }

  &.error {
    background-color: variables.$error-color;
  }

  .slot {
    display: flex;
    flex-direction: column;
    row-gap: utils.spacing(1);
  }

  .title {
    color: #fff;
  }

  .description {
    color: rgba(#fff, 0.9);
  }

  // visibility states

  &[data-state='open'] {
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    @include mixins.inline-animation(variables.$transition-ultrafast, 1) {
      from {
        transform: translateX(calc(100% + #{utils.spacing(3)}));
      }
      to {
        transform: translateX(0);
      }
    }


    @include mixins.phone {
      width: 100%;

      @include mixins.inline-animation(variables.$transition-ultrafast, 1) {
        from {
          transform: translateY(-100%);
        }
        to {
          transform: translateY(0);
        }
      }
    }
  }

  &[data-state='closed'] {
    animation-timing-function: ease-in;

    @include mixins.inline-animation(variables.$transition-ultrafast, 1) {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }

  &[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));

    @include mixins.phone {
      transform: translateY(var(--radix-toast-swipe-move-y));
    }
  }

  &[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;

    @include mixins.phone {
      transform: translateY(0);
    }
  }

  &[data-swipe='end'] {
    animation-timing-function: ease-in;

    @include mixins.inline-animation(variables.$transition-ultrafast, 1) {
      from {
        transform: translateX(var(--radix-toast-swipe-end-x));
      }
      to {
        transform: translateX(calc(100% + #{utils.spacing(3)}));
      }
    }

    @include mixins.phone {
      @include mixins.inline-animation(variables.$transition-ultrafast, 1) {
        from {
          transform: translateY(var(--radix-toast-swipe-end-y));
        }
        to {
          transform: translateY(-100%);
        }
      }
    }
  }
}
