@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(#fff, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: variables.$main-box-shadow;
  padding: utils.spacing(2, 10);
  z-index: 1;

  @include mixins.tablet {
    padding: utils.spacing(2, 5);
  }

  @include mixins.phone {
    padding: utils.spacing(2, 3);

    svg {
      width: 103px;
      height: 26px;
    }
  }

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .centralSlot {
    width: 100%;
    max-width: 968px;
    padding: utils.spacing(0,3);
  }

  .rightSlot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }

  .leftSlot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
}
