@use '@/styles/variables.module';
@use '@/styles/utils';

.ReactGridGallery_tile {
  position: relative;
  transition: variables.$transition-ultrafast;

  &:hover {
    cursor: pointer;
    filter: brightness(120%);
  }
}

.ReactGridGallery_tile, .ReactGridGallery_tile-viewport {
  border-radius: 12px;
}

.yarl__slide_image {
  border-radius: utils.spacing(1);
}
