@use '@/styles/utils';
@use '@/styles/mixins';
@use '@/styles/variables.module';

.root {
  display: flex;
  flex-direction: column;

  .option {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: utils.spacing(1);
    background-color: transparent;
    transition: variables.$transition-ultrafast;
    border-radius: variables.$border-radius-small;

    &:hover {
      background-color: variables.$primary-light-color;

      @include mixins.phone {
        background-color: transparent;
      }
    }

    span {
      text-align: start;
    }
  }

  .placeholder {
    display: flex;
    align-items: center;
    column-gap: utils.spacing(1);
    padding: utils.spacing(3);

    svg {
      width: utils.spacing(2);
    }

    span, svg {
      color: variables.$grey-color
    }
  }
}
