@use '@/styles/variables.module';
@use '@/styles/mixins';
@use '@/styles/utils';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  box-shadow: variables.$main-box-shadow;

  @include mixins.phone {
    border-top-left-radius: variables.$border-radius-large;
    border-top-right-radius: variables.$border-radius-large;
    padding-bottom: var(--bottom-fixed-content-height);
  }

  .content {
    display: flex;
    flex: 1;
  }
}


