@use '@/styles/utils';
@use '@/styles/mixins';
@use '@/styles/variables.module';

.root {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(4);
  flex: 1;
  width: 100%;

  .avatarSelect {
    @include mixins.phone {
      margin: 0 auto;
      flex-direction: column;
      row-gap: utils.spacing(1);
    }
  }

  .inputsRow {
    display: flex;
    column-gap: utils.spacing(4);

    @include mixins.phone {
      flex-direction: column;
      row-gap: utils.spacing(4);
    }
  }
}

