@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(3);
  min-height: 100%;
  @include mixins.phone {
    scroll-padding-bottom: 300px;
  }
  @apply pb-6;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
