@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: utils.spacing(1);
  column-gap: utils.spacing(1);
  @include mixins.tablet {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mixins.phone {
    grid-template-columns: repeat(3, 1fr);
  }
}

.imagePreview {
  border-radius: 21px;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
