@use '@/styles/utils';
@use '@/styles/mixins';
@use '@/styles/variables.module';

.root {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(0.5);

  .option {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: utils.spacing(6);
    transition: variables.$transition-ultrafast;
    border-radius: variables.$border-radius-small;
    padding: utils.spacing(0, 2);
    column-gap: utils.spacing(1);

    &:disabled {
      cursor: default;
      color: rgba(variables.$dark-color, 0.3);

      span {
        color: rgba(variables.$dark-color, 0.3);
      }

      &:hover {
        background-color: transparent;
        color: rgba(variables.$dark-color, 0.3);

        span {
          color: rgba(variables.$dark-color, 0.3);
        }
      }
    }

    span {
      transition: variables.$transition-ultrafast;
    }

    &:hover {
      background-color: rgba(variables.$primary-light-color, .5);
      color: variables.$primary-color;

      span {
        color: variables.$primary-color;
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px variables.$primary-color;
    }

    &.danger {
      color: variables.$error-color;
      &:hover {
        background-color: rgba(variables.$error-color, .08);
      }

      span {
        color: variables.$error-color;
      }
    }
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(0.5);

  div {
    height: utils.spacing(6);
    width: 100%;
    border-radius: variables.$border-radius-small;
  }
}
