@use '@/styles/utils';
@use '@/styles/variables.module';
@use '@/styles/mixins';

.root {
  box-shadow: variables.$main-box-shadow;
  border-radius: utils.spacing(1.5);

  @include mixins.phone {
    overflow: hidden;
  }

  .head {
    padding: utils.spacing(3, 3, 1);

    @include mixins.phone {
      padding: utils.spacing(2, 2, 1);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-bottom: utils.spacing(1);

    @include mixins.phone {
      padding-bottom: 0;
    }
  }
}
