@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: utils.spacing(1);
  row-gap: utils.spacing(1);
  padding: utils.spacing(0, 2);
  flex-wrap: wrap;
  width: 100%;
  transition: opacity variables.$transition-ultrafast;
  overflow: hidden;

  &_passed {
    opacity: 0.5;
  }

  @include mixins.phone {
    grid-template-columns: 1fr;
  }
}

.item {
  display: flex;
  align-items: center;
  flex: 1;
  column-gap: utils.spacing(1);
  color: variables.$grey-color;
  transition: color variables.$transition-ultrafast;

  span {
    color: inherit;
  }

  &:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: variables.$grey-color;
  }

  &_done {
    span {
      text-decoration: line-through;
    }
  }

  &_highlighted {
    span {
      color: variables.$error-color;
    }

    &:before {
      background-color: variables.$error-color;
    }
  }
}
