@use '@/styles/mixins';
@use '@/styles/utils';

.root {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(331.49% 141.42% at -0.00% 100.00%, #FFF 0%, #FFF 48.96%, rgba(200, 223, 254, 0.93) 99.99%);
  padding-top: 20vh;

  @include mixins.tablet {
    padding-top: 18vh;
  }

  @include mixins.phone {
    padding-left: utils.spacing(3);
    padding-right: utils.spacing(3);
  }
}
