@use '@/styles/variables.module';
@use '@/styles/utils';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: variables.$border-radius-medium;
  overflow: hidden;
  box-shadow: variables.$main-box-shadow;
  width: 100%;
  z-index: 1;

  svg {
    position: relative;
    width: 100%;
  }
}

.content {
  position: relative;
  width: 100%;

  .ratio {
    padding-top: 55%;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

