@use '@/styles/mixins';
@use '@/styles/utils';
@use '@/styles/variables.module';

.root {
  display: flex;
  align-items: center;
  column-gap: utils.spacing(3);

  .text {
    color: variables.$grey-color;

    @include mixins.phone {
      display: none;
    }
  }
}
