@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: utils.spacing(2);
  border-radius: variables.$border-radius-medium;
  box-shadow: variables.$main-box-shadow;
  transition: variables.$transition-ultrafast;
  cursor: pointer;
  border: 2px solid transparent;

  &.light {
    background: #fff;

    .datetime {
      color: variables.$dark-color;
    }

    .description {
      color: variables.$dark-color;
      font-weight: 300;
    }

    .avatar {
      background-color: rgba(variables.$dark-color, 0.1);
      color: variables.$dark-color;
    }

    &:hover {
      //transform: scale(1.02);
      background-color: variables.$grey-light-color;
      border: 2px solid variables.$primary-light-color;
    }

    @include mixins.phone {
      &:hover {
        transform: scale(1);
      }
    }
  }

  .container {
    display: flex;
    column-gap: utils.spacing(2);
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    row-gap: utils.spacing(0.5);
  }

  .avatar {
    background-color: transparent;
    border-width: 1px;
  }

  .datetime {
    color: #fff;
  }

  .description {
    color: #fff;
  }

  .moreButton {
    color: #fff;
  }
}
