@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: utils.spacing(2);
  border-radius: variables.$border-radius-medium;
  box-shadow: variables.$main-box-shadow;

  &.light {
    background-color: #fff;

    .datetime {
      color: variables.$dark-color;
      font-weight: 400;
    }

    .description {
      color: variables.$grey-color;
    }

    .avatar {
      border-color: variables.$dark-color;

      path {
        stroke: variables.$dark-color;
      }
    }

    .moreButton {
      color: variables.$dark-color;
      transition: variables.$transition-ultrafast;

      &:hover, &.active {
        background-color: darken(#fff, 4%);
      }
    }
  }

  &.green {
    background: linear-gradient(24deg, #76C38F 0%, #60CF8C 48.44%, #A7C12C 100%);

    .moreButton {
      transition: variables.$transition-ultrafast;

      &:hover, &.active {
        background-color: darken(#9ac443, 5%);
      }
    }
  }

  @include mixins.phone {
    padding: utils.spacing(1, 2);
  }

  .container {
    display: flex;
    column-gap: utils.spacing(2);
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    row-gap: utils.spacing(0.5);
  }

  .avatar {
    background-color: transparent;
    border-width: 1px;
  }

  .datetime {
    color: #fff;
  }

  .description {
    color: #fff;
  }

  .moreButton {
    color: #fff;
  }
}
