@use '@/styles/utils';
@use '@/styles/variables.module';
@use '@/styles/mixins';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  overflow: hidden;
  border-radius: variables.$border-radius-medium;
  box-shadow: variables.$main-box-shadow;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);

  @include mixins.phone {
    height: fit-content;
  }

  .top {
    display: flex;
    align-items: center;
    margin-top: auto;
    flex-direction: column;
    column-gap: utils.spacing(2);
    padding: utils.spacing(3, 3);
    row-gap: utils.spacing(1);

    @include mixins.phone {
      padding: utils.spacing(2);
    }

    .avatar {
      background: rgba(0,0,0,0.05);

      svg {
        color: #fff;
      }

      &Skeleton {
        width: 80px;
        height: 80px;
        flex: unset;
        border-radius: 50%;
      }
    }

    .name {
      color: #fff;

      @include mixins.phone {
        font-size: 24px;
        line-height: 29px;
        max-width: 80%;
        text-align: center;
      }

      &Skeleton {
        width: 220px;
        height: 27px;
        flex: unset;
        border-radius: 4px;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #fff;
    padding: utils.spacing(0, 3);

    @include mixins.phone {
      padding: utils.spacing(2);
      height: unset;
      flex-direction: column;
    }

    .general {
      display: flex;
      flex-direction: column-reverse;
      row-gap: utils.spacing(2);
      flex: 1;

      .services {
        display: flex;
        column-gap: utils.spacing(1);

        .service {
          border-color: #fff;
          background-color: variables.$grey-light-color;
          box-shadow: variables.$main-box-shadow;

          span {
            color: variables.$dark-color;
          }
        }

        &Skeleton {
          display: flex;
          column-gap: utils.spacing(1);
          flex: unset;

          & > div {
            height: 26px;
            border-radius: 30px;

            &:nth-child(1) {
              width: 50px;
            }
            &:nth-child(2) {
              width: 80px;
            }
            &:nth-child(3) {
              width: 70px;
            }
          }
        }

        .emptyPlaceholder {
          justify-content: flex-start;
          column-gap: utils.spacing(1);
          color: variables.$grey-color;

          svg {
            width: 18px;
            height: 18px;
          }

          span {
            color: variables.$grey-color;
          }
        }
      }

      .location {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: utils.spacing(2);
        column-gap: utils.spacing(1);

        @include mixins.phone {
          display: none;
        }

        svg {
          color: variables.$grey-color;
          width: 18px;
        }

        span {
          color: variables.$grey-color;
        }

        &Skeleton {
          height: 15px;
          width: 150px;
          flex: unset;
          border-radius: 4px;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      column-gap: utils.spacing(2);

      @include mixins.phone {
        display: none;
      }
    }
  }
}
