@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: variables.$header-height;

  @include mixins.phone {
    padding-top: variables.$header-height-mobile;
  }
}
