@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.content {
  height: 62%;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  padding: utils.spacing(3);
}

.header {
  margin-right: auto;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.btnSave {
  margin-left: auto;
}

.imageSelector {
  width: 260px;
  height: 260px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.image {
  border-radius: 21px;
  object-fit: cover;
  width: 220px;
  height: 220px;
}
