@use '@/styles/utils';
@use '@/styles/variables.module';
@use '@/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(4);

  @include mixins.phone {
    row-gap: utils.spacing(2);
  }

  .title {
    @include mixins.phone {
      font-size: 18px;
    }
  }

  .description {
    width: 100%;
    max-width: 90%;
  }

  .contactButton {
    height: 42px;
    border: 1px solid variables.$grey-color;
    padding: utils.spacing(0, 2);
    border-radius: variables.$border-radius-medium;
  }
}

.contacts {
  display: none;
  //display: flex;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
}

// buttons
.socialBtns {
  display: flex;
  column-gap: 10px;
}
.borderContainer {
  padding: 1px;
  border-radius: variables.$border-radius-medium;
  width: fit-content;
}
.instagramContainer {
  background: variables.$instagram-gradient;
}
.facebookContainer {
  background: variables.$facebook-gradient;
}

//

.socialButton {
  background-color: #fff;
  border-radius: variables.$border-radius-medium;
  // @include mixins.phone {
  //   span {
  //     font-size: 12px;
  //   }
  // }

  span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // @include mixins.phone {
  //   font-size: 5px;
  // }
}

.facebookButton {
  span {
    background-image: variables.$facebook-gradient;
  }
}
.instagramButton {
  span {
    background-image: variables.$instagram-gradient;
  }
}

.contacBtns {
  display: flex;
  column-gap: 10px;
  white-space: nowrap;
}
