@use '@/styles/utils';
@use '@/styles/variables.module';

.container {
  padding: 50px 0px 60px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.title {
}

.contacts {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

// buttons

.borderContiner {
  padding: 1px;
  border-radius: 12px;
  width: fit-content;
}
.instagramContainer {
  background: variables.$instagram-gradient;
}
.facebookContiner {
  background: variables.$facebook-gradient;
}

//

.socialButton {
  background-color: #fff;
  border-radius: 12px;
  span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 4s linear infinite alternate;
    background-size: 200% 205%;
  }
}

.facebookButton {
  span {
    background-image: variables.$facebook-gradient;
  }
}
.instagramButton {
  span {
    background-image: variables.$instagram-gradient;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 40%;
  }
  100% {
    background-position: 0 60%;
  }
}

// contacts buttons

.contactButton {
  padding: 10px 12px;
  border: 1px solid variables.$primary-light-color;
}
