@use '@/styles/utils';
@use '@/styles/mixins';
@use '@/styles/variables.module';

.root {
  position: relative;
  width: 100%;
}

.content {
  margin-top: utils.spacing(2);
}

.spinnerContainer {
  margin-top: utils.spacing(20);
  display: flex;
  flex: 1;
  gap: utils.spacing(2);
  align-items: center;
  justify-content: center;
}
