@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.overlay {
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: variables.$grey-color;
  z-index: calc(#{variables.$level-dialog-1} - 1);
  opacity: 0;

  .closeButton {
    position: absolute;
    right: utils.spacing(2);
    top: utils.spacing(2);
    color: #000;
  }
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  background-color: #fff;
  border-radius: variables.$border-radius-medium;
  box-shadow: variables.$main-box-shadow;
  animation: contentShowDefault 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: variables.$level-dialog-1;
  outline: none;
  opacity: 0;

  @include mixins.phone {
    width: calc(100% - #{utils.spacing(4)});
  }
}
