@use '@/styles/variables.module';
@use '@/styles/mixins';
@use '@/styles/utils';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // remove blinking effect for mobile touch events
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

.leaflet-container {
  flex: 1;
  z-index: 0;
}

.link {
  color: variables.$primary-color;
  text-decoration: none;
  outline: none;
  border-radius: 3px;
  transition: variables.$transition-ultrafast;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px variables.$primary-color;
  }
}

.focusable {
  outline: none;
  transition: box-shadow variables.$transition-ultrafast;

  &:focus-visible {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px variables.$primary-color;
  }
}

.visibilityHidden {
  position: absolute;
  top:0;
  left:0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.mobileActionBtn {
  @include mixins.phone {
    position: fixed !important;
    right: utils.spacing(3) !important;
    width: 60px !important;
    height: 60px !important;
    background-color: #fff !important;
    color: variables.$primary-color !important;
    z-index: 1 !important;
  }
}

@keyframes use-ripple-animation {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
