@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  flex-direction: row;
  padding: utils.spacing(2, 3);
  border-bottom: 1px solid variables.$primary-light-color;

  @include mixins.phone {
    padding: utils.spacing(2);
  }

  &:last-child {
    border-bottom: none;
  }

  .cell {
    display: flex;
    align-items: center;
    flex: 1;

    .title {
      max-width: 90%;
      @include mixins.phone {
        font-size: 16px;
      }
    }
    .price {
      @include mixins.phone {
        font-size: 14px;
      }
    }

    .chevron {
      color: variables.$grey-color;
    }

    &.flex75 {
      flex: 0.75;
    }

    &.flex25 {
      flex: 0.25;
    }

    &.fit {
      flex: unset;
      width: fit-content;
    }

    &.vertical {
      flex-direction: column;
      row-gap: utils.spacing(1.5);
      align-items: flex-start;
    }
  }
}

.btnRoot {
  display: flex;
  column-gap: 10px;
}

.photos {
  display: flex;
  justify-content: space-between;
}

.contentContainer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.closeBtn {
  background-color: variables.$primary-light-color;
  margin: 0 auto;
  color: variables.$primary-color;
  transition: color 0.2s ease, background-color 0.3s ease;
  &:hover {
    color: #000;
  }
}

.acardionItem {
  border-bottom: 1px solid variables.$primary-light-color;
  &:last-child {
    border-bottom: none;
  }
}

.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
