@use '@/styles/variables.module';
@use '@/styles/utils';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: calc(#{variables.$level-dialog-1} - 1);
  background-color: variables.$dark-color;

  &.bottomTabPadding {
    bottom: variables.$bottom-tab-bar-height;
    z-index: calc(#{variables.$bottom-fixed-content-z-index} - 2);
  }
}

.content {
  position: fixed;
  top: 0;
  right: 0;
  left: unset;
  transform: unset;
  border-radius: 0;
  width: 100%;
  height: 100%;
  z-index: variables.$level-dialog-1;
  display: flex;
  background-color: #fff;

  &.bottomTabPadding {
    bottom: variables.$bottom-tab-bar-height;
    height: calc(100% - variables.$bottom-tab-bar-height);
    z-index: calc(#{variables.$bottom-fixed-content-z-index} - 1);
  }
}
