@use '@/styles/variables.module';
@use '@/styles/mixins';
@use '@/styles/utils';

.root {
  display: flex;
  width: 100%;

  .tab {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 60px;
    row-gap: 6px;
    border-radius: 0;
    color: variables.$dark-color;
    //@apply text-gray-accent;

    transition: variables.$transition-ultrafast;

    &:before {
      position: absolute;
      top: 4px;
      content: '';
      width: 1.75rem;
      height: 1.75rem;
      background-color: variables.$primary-light-color;
      border-radius: 100%;
      opacity: 0;
      transition: variables.$transition-ultrafast;
    }

    span {
      font-size: 11px;
      font-weight: 500;
      color: inherit;
    }

    &.active {
      color: variables.$primary-color;


      &:before {
        opacity: 1;
      }
    }
  }
}
