@use '@/styles/variables.module';
@use '@/styles/mixins';
@use '@/styles/utils';

.root {
  display: flex;
  width: 100%;

  .tab {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 60px;
    row-gap: utils.spacing(0.5);
    border-radius: 0;
    color: variables.$dark-color;
    transition: variables.$transition-ultrafast;

    span {
      font-size: 12px;
    }

    &.active {
      color: variables.$primary-color;
    }
  }
}
