@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  padding-top: utils.spacing(6);
  width: 100%;

  @include mixins.phone {
    padding-top: utils.spacing(3);
    padding-bottom: 6.5rem;
  }
}
