@use '@/styles/utils';
@use '@/styles/mixins';
@use '@/styles/variables.module';

.tooltipContent {
  width: 450px;
  border-radius: variables.$border-radius-medium;
  padding: utils.spacing(2);
  font-size: 14px;
  background-color: white;
  box-shadow: variables.$main-box-shadow;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: variables.$level-dialog-1;
  @include mixins.phone {
    width: 370px;
    transform: translateX(-23px);
  }
}
.tooltipContent[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.tooltipContent[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.tooltipContent[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.tooltipContent[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}
.tooltipArrow {
  fill: white;
  @include mixins.phone {
    transform: translateX(23px);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
