@use '@/styles/variables.module';
@use '@/styles/utils';

.root {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(2);
  padding-bottom: utils.spacing(4);

  span {
    color: variables.$grey-color;
  }
}
