@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  align-items: center;
  column-gap: utils.spacing(4);

  @include mixins.phone {
    display: none;
  }

  .link {
    position: relative;
    text-decoration: none;
    color: variables.$dark-color;

    &:hover {
      color: #000;
    }

    &.active {
      color: variables.$primary-color;
    }

    span {
      color: inherit;
    }
  }

  .loadingPlaceholder {
    justify-content: flex-start;
  }

  .skeleton {
    display: flex;
    column-gap: utils.spacing(4);

    & > div {
      width: 100px;
      height: 17px;
      border-radius: 3px;
    }
  }
}
