@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  @include mixins.phone {
    background: linear-gradient(0deg, transparent, white);
  }

  .title {
    display: flex;
    align-items: center;
    column-gap: utils.spacing(1);
    color: variables.$dark-color;
    padding: utils.spacing(1, 4, 3, 4);

    @include mixins.phone {
      padding: utils.spacing(2, 8, 1, 3);
      // box-shadow: variables.$main-box-shadow;
      z-index: 1;

      span {
        flex: 1;
        text-align: center;
        font-weight: 500;

        @include mixins.phone {
          display: none;
        }
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .backButton {
    background: transparent;
    color: variables.$dark-color;
    left: utils.spacing(-1);

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .divider {
    width: unset;
    margin: utils.spacing(0, 4);

    @include mixins.phone {
      display: none;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: variables.$main-box-shadow;
    background-color: rgba(#fff, 1);
    backdrop-filter: saturate(180%) blur(20px);
    --webkit-backdrop-filter: saturate(180%) blur(20px);
    border-radius: 20px;
    overflow: auto;

    @include mixins.phone {
      box-shadow: none;
      border-radius: 0;
      background-color: transparent;
      backdrop-filter: none;
      --webkit-backdrop-filter: none;
    }

    .scrolledContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: utils.spacing(4);

      @include mixins.phone {
        padding: utils.spacing(3, 3, 3);
      }

      .childrenWrapper {
        display: flex;
        flex: 1;
        height: fit-content;
        width: 100%;

        @include mixins.phone {
          padding-bottom: utils.spacing(2);
          padding-top: utils.spacing(2);
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding: utils.spacing(3, 4, 4, 4);
    border-top: 1px solid variables.$grey-light-color;

    @include mixins.phone {
      padding: utils.spacing(2, 3, 3);
      column-gap: utils.spacing(1);
      box-shadow: variables.$main-box-shadow;
      background-color: rgba(#fff, 0.8);
      z-index: 1;
    }

    button {
      min-width: 200px;

      @include mixins.phone {
        min-width: unset;
        flex: 1;
      }
    }
  }
}
