@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: variables.$border-radius-medium;
  background-color: #fff;
  box-shadow: variables.$main-box-shadow;
  padding: utils.spacing(4, 0);

  .title {
    display: flex;
    align-items: center;
    column-gap: utils.spacing(1);
    color: variables.$dark-color;
    padding: utils.spacing(0, 4, 2, 4);

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .divider {
    width: unset;
    margin: utils.spacing(0, 4);
  }

  .content {
    flex: 1;
    display: flex;
    padding: utils.spacing(4);
    overflow: auto;

    .scrolledContent {
      display: flex;
      flex: 1;
      height: fit-content;
      min-height: 100%;
      width: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding: utils.spacing(3, 4, 0, 4);

    button {
      min-width: 200px;
    }
  }
}
