@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  .title {
    display: flex;
    align-items: center;
    column-gap: utils.spacing(1);
    color: variables.$dark-color;
    padding: utils.spacing(1, 4, 3, 4);

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .divider {
    width: unset;
    margin: utils.spacing(0, 4);
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: variables.$main-box-shadow;
    background-color: rgba(#fff, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 20px;
    overflow: auto;

    .scrolledContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: utils.spacing(4);
      flex-shrink: 0;

      .childrenWrapper {
        display: flex;
        height: fit-content;
        min-height: 100%;
        width: 100%;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding: utils.spacing(3, 4, 4, 4);

    button {
      min-width: 200px;
    }
  }
}
