@use '@/styles/variables.module';
@use '@/styles/mixins';
@use '@/styles/utils';

.root {
  background-color: #fff;
  box-shadow: variables.$main-box-shadow;
  border-radius: variables.$border-radius-medium;
  overflow: hidden;
  animation-name: fadein;
  animation-duration: 0.3s;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: utils.spacing(0,3);

    @include mixins.phone {
      padding: utils.spacing(0, 2);
      height: 60px;
    }

    .actions {
      display: flex;
      column-gap: utils.spacing(2);

      @include mixins.phone {
        display: none;
      }
    }

    .more {
      display: none;
      background-color: variables.$grey-light-color;

      &.active {
        background-color: darken(variables.$grey-light-color, 2%);
      }

      @include mixins.phone {
        display: flex;
      }

      svg {
        color: variables.$dark-color;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
