@use '@/styles/utils';
@use '@/styles/mixins';
@use '@/styles/variables.module';

// .root {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin: 0 auto;
// }

.root {
  width: 100%;
}

.albumsContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.imageSelectorDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: utils.spacing(1);

  svg {
    width: utils.spacing(5);
    color: variables.$primary-color;
  }

  span {
    color: variables.$primary-color;
  }
}

.trigger {
  @include mixins.phone {
    bottom: utils.spacing(20);
  }
}

.spinnerContainer {
  margin-top: utils.spacing(20);
  display: flex;
  flex: 1;
  gap: utils.spacing(2);
  align-items: center;
  justify-content: center;
}
