@use '@/styles/utils';

.root {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  row-gap: utils.spacing(5);

  .actions {
    display: flex;
    justify-content: center;
    column-gap: utils.spacing(2);
  }
}
