@use '@/styles/variables.module';
@use '@/styles/utils';

.eventContainer {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(1);
  padding: 2px;
  border-radius: 10px;
}

.event {
  border-radius: 6px !important;

  &_PENDING {
    background-color: variables.$orange-color !important;
  }

  &_APPROVED {
    background-color: variables.$green-color !important;
  }

  &_FINISHED {
    background-color: variables.$grey-color !important;
  }

  &_REJECTED {
    background-color: variables.$error-color !important;
  }

  &_CANCELED {
    background-color: variables.$error-color !important;
  }

  &_MISSED {
    background-color: variables.$error-color !important;
  }
}

.eventText {
  color: #fff;
}
