@use '@/styles/variables.module';
@use '@/styles/utils';

@use '@/styles/mixins';

:root {
  --fc-button-active-bg-color: #c5d8f8 !important;
  --fc-event-border-color: transparent !important;
}

.fc-view-harness {
  background-color: #fff !important;
  border-radius: variables.$border-radius-medium !important;
}
.fc .fc-scrollgrid-section-liquid > td {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(0, 0, 0, 0) 20%
  ) !important;
}

.fc-timegrid-axis-frame {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  overflow: hidden !important;
  padding-top: utils.spacing(2.3) !important;
  @include mixins.phone {
    padding-top: utils.spacing(1.3) !important;
  }
  span {
    @include mixins.phone {
      font-size: 10px !important;
      font-weight: 600;
    }
  }
}

.fc-timegrid-axis {
  font-weight: normal !important;
}

.fc-col-header-cell.fc-day.fc-day-today {
  color: variables.$primary-color !important;
}

.fc.fc-direction-ltr .fc-timegrid-col-events {
  margin-top: 2px !important;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0 !important;
}

.fc .fc-toolbar {
  align-items: center !important;
  display: flex !important;
  justify-content: left !important;
  column-gap: utils.spacing(3) !important;
  @include mixins.phone {
    column-gap: utils.spacing(2) !important;
  }

  .fc-toolbar-chunk:nth-child(2) {
    flex: 1 !important;
  }
  .fc-toolbar-chunk:nth-child(3) {
    display: flex !important;
    column-gap: 15px !important;
  }
}

.fc-theme-standard {
  td {
    border-color: #edf4fc !important;
  }

  th {
    border-color: #edf4fc !important;

    .fc-scrollgrid-sync-inner {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 50px !important;

      a {
        font-size: 16px !important;
        font-weight: 400 !important;
        @include mixins.phone {
          font-size: 14px !important;
          font-weight: 500 !important;
        }
      }
    }
  }

  .fc-scrollgrid {
    border: none !important;
  }
}

.fc {
  .fc-timegrid-slot {
    height: utils.spacing(6) !important;
  }
  .fc-datagrid-cell-frame {
    width: 50px !important;
  }

  .fc-event-border-color {
    color: red !important;
  }

  .fc-toolbar-title {
    font-size: 18px !important;
    font-weight: 500 !important;
    color: variables.$dark-color !important;
    @include mixins.phone {
      font-size: 14px !important;
    }
  }

  .fc-timegrid-slot-label-cushion {
    font-size: 14px !important;
    color: variables.$dark-color !important;
  }

  .fc-toolbar-chunk:last-child {
    margin-left: utils.spacing(2) !important;
    @include mixins.phone {
      margin-left: utils.spacing(0) !important;
    }
  }

  .fc-toolbar-chunk:nth-of-type(1) {
    @media (max-width: 660px) {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .fc-toolbar-chunk:nth-of-type(3) {
    @include mixins.phone {
      flex-direction: column;
      align-items: baseline;
      gap: 4px;
    }
  }

  .fc-today-button {
    display: none !important;
  }

  .fc-timegrid-now-indicator-line {
    border-color: rgba(239, 0, 0, 1) !important;
    border-width: 2px 0 0 !important;
    position: relative !important;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -3px;
      width: 8px;
      height: 8px;
      border-radius: 5px;
      background-color: rgba(239, 0, 0, 1);
    }
  }

  .fc-timegrid-col.fc-day-today {
    background: transparent !important;
  }

  .fc-timegrid-now-indicator-arrow {
    display: none;
  }

  .fc-event.fc-event-start.fc-event-end {
    height: 98% !important;
  }

  .fc-scroller {
    overflow-y: auto !important;
  }

  .fc-scroller::-webkit-scrollbar {
    width: 8px;
  }

  .fc-scroller::-webkit-scrollbar-thumb {
    width: 8px !important;
    background-color: variables.$primary-light-color !important;
    border-radius: 10px !important;
    border-color: variables.$primary-color !important;
  }

  .fc-scroller::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
  }

  .fc-button-group {
    @include mixins.phone {
      margin-left: 0 !important;
    }
    .fc-button-primary {
      background-color: transparent !important;
      border: 1px solid variables.$primary-color !important;
      border-radius: 50% !important;
      width: 2rem !important;
      height: 2rem !important;
      margin: 0 8px !important;
      padding: 0 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      outline: none !important;
      transition: variables.$transition-ultrafast !important;

      &:hover {
        background-color: darken(variables.$primary-light-color, 2%) !important;
      }

      &:active {
        box-shadow: none !important;
      }

      &:focus {
        box-shadow: none !important;
      }

      &:focus-visible {
        box-shadow:
          0 0 0 2px #fff,
          0 0 0 4px variables.$primary-color !important;
      }

      .fc-icon {
        color: variables.$primary-color !important;
        font-size: 18px !important;
      }
    }
  }

  .fc-customButtons-button {
    background-color: #fff !important;
    color: black !important;
    font-size: 14px !important;
    border: transparent !important;
    position: relative !important;
    pointer-events: none !important;

    &::before {
      position: absolute;
      content: '';
      top: 9px;
      left: -13px;
      width: 15px;
      height: 15px;
      background-color: #26c967;
      border-radius: 50%;
    }
    &:hover {
      cursor: default !important;
      background-color: #fff !important;
      color: black !important;
    }
    &:active {
      border-color: #fff !important;
      color: black !important;
      background-color: transparent !important;
    }
    &:focus {
      box-shadow: none;
      border-color: #fff !important;
    }
  }

  .fc-customButtons2-button {
    background-color: #fff !important;
    color: black !important;
    font-size: 14px !important;
    border: transparent !important;
    position: relative !important;
    pointer-events: none !important;

    &::before {
      position: absolute;
      content: '';
      top: 9px;
      left: -13px;
      width: 15px;
      height: 15px;
      background-color: rgba(254, 204, 69, 1);

      border-radius: 50%;
    }
    &:hover {
      cursor: default !important;
      background-color: #fff !important;
      color: black !important;
    }
    &:active {
      border-color: #fff !important;
      color: black !important;
      background-color: transparent !important;
    }
    &:focus {
      box-shadow: none !important;
      border-color: #fff !important;
    }
  }

  .fc-customButtons3-button {
    background-color: #fff !important;
    color: black !important;
    font-size: 14px !important;
    border: transparent !important;
    position: relative !important;
    pointer-events: none !important;

    &::before {
      position: absolute !important;
      content: '' !important;
      top: 9px !important;
      left: -13px !important;
      width: 15px !important;
      height: 15px !important;
      background-color: rgba(147, 157, 170, 1) !important;
      border-radius: 50% !important;
    }

    &:hover {
      cursor: default !important;
      background-color: #fff !important;
      color: black !important;
    }

    &:active {
      border-color: #fff !important;
      color: black !important;
      background-color: transparent !important;
    }

    &:focus {
      box-shadow: none !important;
      border-color: #fff !important;
    }
  }
}

.left-col {
  width: 70px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;

  &::after {
    position: absolute !important;
    content: '' !important;
    bottom: -16px !important;
    left: 0 !important;
    width: 106% !important;
    height: 1px !important;
    background-color: #ffffff !important;
  }
}

.fc .fc-timegrid-now-indicator-line {
  border-color: variables.$primary-color !important;

  &::after {
    background-color: variables.$primary-color !important;
  }

  @include mixins.phone {
    width: unset;
    padding-right: 2px;
    span {
      font-size: 12px;
    }
  }
}

.fc colgroup > col {
  @include mixins.phone {
    width: 38px !important;
  }
}

// .fc-toolbar-chunk {
//   .custombuttons2 {
//     background-color: red !important;
//   }
// }
