@use '@/styles/variables.module';
@use '@/styles/utils';

:root {
  --fc-button-active-bg-color: #c5d8f8;
}

.fc-view-harness {
  background-color: #fff;
  box-shadow: variables.$main-box-shadow;
  border-radius: variables.$border-radius-medium;
}

.fc .fc-toolbar {
  align-items: center;
  display: flex;
  justify-content: left;
  column-gap: utils.spacing(3);
}

.fc-theme-standard {
  td {
    border-color: #edf4fc;
  }

  th {
    border-color: #edf4fc;

    .fc-scrollgrid-sync-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;

      a {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .fc-scrollgrid {
    border: none;
  }
}

.fc {
  .fc-timegrid-slot {
    height: utils.spacing(6);
  }

  .fc-toolbar-title {
    font-size: 18px;
    font-weight: 500;
    color: variables.$dark-color;
  }

  .fc-timegrid-slot-label-cushion {
    font-size: 14px;
    color: variables.$dark-color;
  }

  .fc-toolbar-chunk:last-child {
    margin-left: utils.spacing(2);
  }

  .fc-today-button {
    color: variables.$primary-color;
    background-color: variables.$primary-light-color;
    border-radius: 12px !important;
    border: none;

    &:hover {
      background-color: darken(variables.$primary-light-color, 2%);
      color: variables.$primary-color;
    }

    &:disabled {
      background-color: transparent;
      color: variables.$primary-color;
    }
  }

  .fc-timegrid-now-indicator-line {
    border-color: rgba(239, 0, 0, 1);
    border-width: 2px 0px 0px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -3px;
      width: 8px;
      height: 8px;
      border-radius: 5px;
      background-color: rgba(239, 0, 0, 1);
    }
  }

  .fc-timegrid-now-indicator-arrow {
    display: none;
  }

  .fc-scroller {
    overflow-y: auto !important;
  }

  .fc-button-group {
    .fc-button-primary {
      background-color: variables.$primary-light-color;
      border: none;
      border-radius: 50% !important;
      width: 36px;
      height: 36px;
      margin: 0 8px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      transition: variables.$transition-ultrafast;

      &:hover {
        background-color: darken(variables.$primary-light-color, 2%);
      }

      &:active {
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px variables.$primary-color;
      }

      .fc-icon {
        color: variables.$primary-color;
        font-size: 18px;
      }
    }
  }
}

.left-col {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: -16px;
    left: 0;
    width: 106%;
    height: 1px;
    background-color: #ffffff;
  }
}
