@use '@/styles/utils';
@use '@/styles/variables.module';

.root {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(3);
}

.terms {
  display: flex;
  margin: 0 auto;
  align-items: center;
  column-gap: utils.spacing(1);
  position: relative;
  top: utils.spacing(1);

  .accent {
    color: variables.$primary-color;
  }
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(1);
}

.checkmark {
  border: 1px solid variables.$primary-light-color;
  background-color: #fff;
}

.eyeButton {
  color: variables.$grey-color;
  transition: variables.$transition-ultrafast;

  &:hover {
    color: variables.$dark-color;
  }
}
