@use '@/styles/utils';

.root {
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(2);
  flex: 1;

  .searchBar {
    position: relative;
    z-index: 20;
    width: 100%;
    display: flex;
    column-gap: utils.spacing(2);

    .search {
      flex: 1;
    }
  }
}
