@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  min-width: 35%;
  max-width: 35%;
  height: 100%;
  background-color: rgba(#fff, 0.5);
  row-gap: utils.spacing(4);

  @include mixins.tablet {
    display: none;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  .description {
    position: relative;
    padding: utils.spacing(0, 8);
    text-align: center;
  }

  .browser {
    border-radius: variables.$border-radius-small;
    width: 80%;
  }

  .skipLink {
    position: absolute;
    top: utils.spacing(3);
    right: utils.spacing(3);

    span {
      color: variables.$grey-color
    }
  }
}
