@use '@/styles/variables.module';
@use '@/styles/utils';

.section {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  padding: 0 24px;
}

.root {
  background-color: variables.$grey-light-color;
  min-height: 100vh;
}
