@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.section {
}
.container {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  padding: 0 24px;
  @include mixins.phone {
    padding: 0 15px;
  }
}

.root {
  min-height: 100vh;
}

.sectionHeader {
  background-color: variables.$grey-light-color;
  padding-top: 110px;
  padding-bottom: 94px;
}
.sectionAboutMe {
  border-top: 1px solid variables.$primary-light-color;
}
