@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  padding-top: utils.spacing(6);
  padding-bottom: utils.spacing(6);
  width: 100%;
  flex: 1;

  @include mixins.phone {
    padding-top: utils.spacing(2);
    padding-bottom: utils.spacing(4);
  }

  .mobileInfo {
    display: none;

    @include mixins.phone {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: utils.spacing(1);
      margin-bottom: utils.spacing(2);
      border-bottom: 1px solid rgba(variables.$grey-color, 0.2);
      column-gap: utils.spacing(1);

      span {
        color: variables.$dark-color;
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-top: utils.spacing(4);
  margin-top: auto;
  column-gap: utils.spacing(2);

  @include mixins.phone {
    justify-content: unset;
    margin-top: unset;
    padding: utils.spacing(2);
  }

  .action {
    min-width: 200px;

    @include mixins.phone {
      flex: 1;
      min-width: unset;
    }
  }
}
