@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  padding-top: utils.spacing(6);
  padding-bottom: utils.spacing(6);
  width: 100%;
  flex: 1;

  @include mixins.phone {
    padding-top: 0;
  }

  .mobileInfo {
    display: none;

    p {
      line-height: 17px;
    }

    @include mixins.phone {
      display: flex;
      flex-direction: column;
      row-gap: utils.spacing(1);
      margin-bottom: utils.spacing(4);
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding-top: utils.spacing(4);
    margin-top: auto;
    column-gap: utils.spacing(2);

    @include mixins.phone {
      position: fixed;
      background-color: #fff;
      left: 0;
      bottom: 0;
      padding: utils.spacing(2,3,3,3);
      width: 100%;
      box-shadow: 0px -4px 15px 0px rgba(37, 74, 165, 0.10);;
    }

    .action {
      min-width: 200px;

      @include mixins.phone {
        flex: 1;
        min-width: unset;
      }
    }
  }
}
