@use '@/styles/utils';
@use '@/styles/mixins';
@use '@/styles/variables.module';

.root {
  position: relative;
  display: flex;
  padding: utils.spacing(3);
  border-bottom: 1px solid variables.$primary-light-color;
  column-gap: utils.spacing(4);
  overflow: hidden;
  align-items: center;

  &::first-child {
    border-top: none;
  }

  &.edit {
    padding: utils.spacing(2, 3);
    background-color: rgba(variables.$primary-light-color, 0.3);
    align-items: flex-start;

    @include mixins.phone {
      flex-direction: column;
      padding: utils.spacing(2.5, 1.5);
    }
  }

  @include mixins.phone {
    padding-left: 0;
    padding-right: 0;

    &:first-child {
      border-top: none;
    }
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .containerTop {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .cell {
    display: flex;
    flex: 1;

    &.disabled {
      opacity: 0.5;
      user-select: none;
      pointer-events: none;

      @include mixins.phone {
        display: none;
      }
    }

    &.xPadding {
      padding: utils.spacing(1, 0);
      @include mixins.phone {
        width: 100%;
      }
    }

    &.weekday {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: utils.spacing(0.5);
    }

    &.actions {
      width: fit-content;
      flex: unset;
    }
  }

  .weekday {
    text-transform: capitalize;
  }

  .timerange {
    flex: 1;
    @include mixins.phone {
      // margin-bottom: 10px;
    }
  }

  .addBreak {
    width: 100%;
  }

  .dayoff {
    position: relative;
    left: utils.spacing(-1);
    display: flex;
    align-items: center;
    column-gap: utils.spacing(0.5);
    padding-top: 24px;
    @include mixins.phone {
      column-gap: 10px;
      margin-left: 9px;
      padding-bottom: 32px;
    }
  }

  .breaks {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    row-gap: utils.spacing(2);
    column-gap: utils.spacing(2);

    .break {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: utils.spacing(0.5);

      .delete {
        width: 20px;
        height: 20px;
        color: variables.$error-color;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    row-gap: utils.spacing(1);
    column-gap: utils.spacing(1);
  }
}
