@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  position: fixed;
  top: variables.$header-height;
  left: 0;
  z-index: 20;
  width: variables.$sidebar-width;
  display: flex;
  flex-direction: column;
  row-gap: utils.spacing(4);
  background-color: rgba(#fff, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  --webkit-backdrop-filter: saturate(180%) blur(20px);
  padding: utils.spacing(3, 4);
  height: 100%;
  user-select: none;
  clip-path: inset(0px -40px -10px -10px);
  box-shadow: variables.$main-box-shadow;
  min-width: 266px;

  @include mixins.phone {
    top: variables.$header-height-mobile;
    height: unset;
    width: 100%;
    bottom: 70px;
    box-shadow: none;
    padding: utils.spacing(2, 3);
    backdrop-filter: none;
    background: linear-gradient(0deg, #fff 80%, transparent);
  }

  .groups {
    display: flex;
    flex-direction: column;
    row-gap: utils.spacing(4);
    margin-top: utils.spacing(2);

    @include mixins.phone {
      margin-top: 0;
    }

    .group {
      display: flex;
      flex-direction: column;
      width: 100%;
      row-gap: utils.spacing(2);

      .title {
      }

      .links {
        display: flex;
        flex-direction: column;
        row-gap: utils.spacing(1);
        width: 100%;

        @include mixins.phone {
          row-gap: utils.spacing(2);
        }

        .link {
          justify-content: flex-start;
          padding: utils.spacing(0, 2);
          width: 100%;
          transition: all 0.2s ease 0s;
          border-radius: variables.$border-radius-medium;

          @include mixins.phone {
            background-color: #fff;
            box-shadow: variables.$main-box-shadow;
            color: variables.$dark-color;
            height: utils.spacing(6);
          }

          // chevron right
          svg:last-child {
            display: none;

            @include mixins.phone {
              display: block;
              margin-left: auto;
            }
          }

          &:hover {
            background-color: rgba(black, 0.05);

            @include mixins.phone {
              background-color: #fff;
            }
          }

          &.active {
            color: variables.$accent-color;
            background-color: lighten(variables.$primary-light-color, 4%);

            @include mixins.phone {
              background-color: #fff;
              color: variables.$dark-color;
            }
          }
        }
      }
    }
  }

  .corner {
    position: absolute;
    left: 100%;
    top: 0;
    color: rgba(#fff, 0.8);
    width: utils.spacing(4);
    height: utils.spacing(4);

    @include mixins.phone {
      display: none;
    }
  }
}
