@use '@/styles/variables.module';
@use '@/styles/utils';

.root {
  position: relative;
  padding-top: utils.spacing(7);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: utils.spacing(2);
    background-color: #fff;
    border-radius: variables.$border-radius-medium;
    padding: utils.spacing(3, 3);
    box-shadow: variables.$main-box-shadow;
  }
}
