@use '@/styles/utils';
@use '@/styles/variables.module';
@use '@/styles/mixins';
.container {
  margin-top: 50px;
  width: 100%;
  height: 270px;
  position: relative;
  overflow: hidden;
  border: 1px solid variables.$primary-light-color;
  border-radius: 12px;
  box-shadow: variables.$main-box-shadow;
  background: linear-gradient(57deg, #3b82ef 2.47%, #b9d5ff 100%);
  @include mixins.phone {
    background: none;
  }
  @media (max-width: 785px) {
    height: 320px;
  }
}

.header {
  height: 100%;
}
.title {
  display: flex;
  color: #fff;
  padding-left: 199px;
  padding-top: 115px;
  font-size: 40px;
}

.footer {
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 22px 28px;
  @media (max-width: 785px) {
    height: 150px;
  }
}
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 180px;
  gap: 15px;
  @media (max-width: 785px) {
    flex-direction: column;
  }
}

.avatar {
  position: absolute;
  top: -80px;
  left: 22px;
  @include mixins.phone {
    width: 80px;
    height: 80px;
  }
}

.tagsAndMap {
  display: flex;
  flex-direction: column;
}

.serviceTags {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.tags {
  display: flex;
  column-gap: 8px;
  @media (max-width: 785px) {
    column-gap: 20px;
  }
}

.additionalCount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px solid variables.$primary-light-color;
}

.locationSection {
  display: flex;
  align-items: center;
  padding-top: 14px;
  @media (max-width: 785px) {
    margin-left: 30px;
  }
  @include mixins.phone {
    display: none;
  }
}

.locationIcon {
  width: 18px;
  height: 18px;
  color: variables.$grey-color;
}

.distance {
  margin-left: 6px;
  color: variables.$grey-color;
}

.showOnMap {
  margin-left: 14px;
  color: variables.$accent-color;
  cursor: pointer;
}

.footerButtons {
  display: flex;
  column-gap: 10px;
  padding-top: 10px;
  @media (max-width: 785px) {
    padding-top: 5px;
    column-gap: 20px;
  }
}
