@use '@/styles/utils';
@use '@/styles/variables.module';
@use '@/styles/mixins';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  overflow: hidden;
  border-radius: variables.$border-radius-medium;
  box-shadow: variables.$main-box-shadow;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);

  @include mixins.phone {
    height: fit-content;
  }

  .top {
    display: flex;
    align-items: center;
    margin-top: auto;
    column-gap: utils.spacing(2);
    padding: utils.spacing(3, 3);
    row-gap: utils.spacing(1);

    @include mixins.phone {
      padding: utils.spacing(2);
    }

    .avatar {
    }

    .name {
      color: #fff;

      @include mixins.phone {
        font-size: 24px;
        line-height: 29px;
        max-width: 60%;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #fff;
    padding: utils.spacing(0, 3);

    @include mixins.phone {
      padding: utils.spacing(2);
      height: unset;
    }

    .general {
      display: flex;
      flex-direction: column-reverse;
      row-gap: utils.spacing(2);
      flex: 1;

      .services {
        display: flex;
        column-gap: utils.spacing(1);

        .service {
          border-color: #fff;
          background-color: variables.$grey-light-color;
          box-shadow: variables.$main-box-shadow;

          span {
            color: variables.$dark-color;
          }
        }
      }

      .location {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: utils.spacing(2);
        column-gap: utils.spacing(1);


        svg {
          color: variables.$grey-color;
          width: 18px;
        }

        span {
          color: variables.$grey-color;
        }

        .showOnMapLink {
          @include mixins.phone {
            display: none;
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      column-gap: utils.spacing(2);

      @include mixins.phone {
        display: none;
      }
    }
  }
}
