@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: calc(#{variables.$header-height} + #{utils.spacing(7)});

  @include mixins.phone {
    padding-top: calc(#{variables.$header-height-mobile} + #{utils.spacing(2)});
  }

  .pageContent {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    box-shadow: 0 4px 15px 0 rgba(37, 74, 165, 0.1);
    background-color: #fff;
  }
}
