@use '@/styles/variables.module';
@use '@/styles/utils';
@use '@/styles/mixins';

.dateNavigation {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: utils.spacing(2.5);
  margin-bottom: utils.spacing(2.5);
}

.selectDate {
  position: relative;
  color: variables.$grey-color;
  transition: color 0.3s;
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
